body{
    margin:auto;
}
.menuvar{
    background-color: rgb(50, 177, 149);
    font-size: 200%;
    text-align: center;
}
ul{
    display: inline-block;
}
li{
    
    float: left;
    list-style: none;
    padding-left: 40px;
}
a{
    color: rgb(243, 242, 237);
    text-decoration: none;
}

.header-part{
    display: flex;
    
}
h1{
    font-size: 300%;
}
p{
    font-weight: 300;
}
.link-button{
    text-decoration: none;
    background-color: springgreen;
    padding: 10px 40px;
    border-radius: 30px;
    color:rgb(255, 255, 255);
}
.text-color{
    color: cyan;
}
.top-side{
    width: 50%;
    padding-left: 40px;
}
img{
    width: 100%

}

.about-me{
    margin-top: 10px;
}
.text-align{
    text-align: center;
}


.half-width{
    margin-top: 40px;
    width:28.333%;
}
.title-one{
    padding-left: 5%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.footer{
    background-color: rgb(53, 119, 116);
    margin-top: 5%;
    padding-bottom: 2%;
}
.footer-part{
    color:darkgray;
    padding-top: 2%;
}