body{
    margin:auto;
}

.header-part{
    display: flex;
}
h1{
    font-size: 300%;
}
p{
    font-weight: 300;
}
.link-button{
    text-decoration: none;
    background-color: springgreen;
    padding: 10px 40px;
    border-radius: 30px;
    color:rgb(255, 255, 255);
}
.text-color{
    color: cyan;
}
.top-side{
    width: 50%;
    padding-left: 40px;
}
img{
    width: 100%

}

.about-me{
    margin-top: 40px;
}
.recipies{
    text-align: center;
}


.half-width{
    width:28.333%;
    
    padding-left: 5%;
}
.title-one{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}